#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip {
    chain-length = <27>; // 21 backlight + 6 underglow
};

/ {
    behaviors {
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            hold-while-undecided;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 22 27 28 29 30 31 32 33 34 36 37 38 39 40 41>;
        };

        td_esc: td_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ESC";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp ESCAPE>;
        };
    };

    combos {
        compatible = "zmk,combos";

        jk-escape {
            bindings = <&kp ESCAPE>;
            key-positions = <16 17>;
            require-prior-idle-ms = <250>;
            timeout-ms = <150>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            bindings = <
&trans  &td_esc  &kp W       &kp E        &kp R         &kp T           &kp Y     &kp U        &kp I        &kp O       &kp P     &trans
&trans  &kp A    &hm LALT S  &hm LCTRL D  &hm LSHIFT F  &kp G           &kp H     &hm RSHFT J  &hm RCTRL K  &hm RALT L  &kp SEMI  &trans
&trans  &kp Z    &kp X       &kp C        &kp V         &kp B           &kp N     &kp M        &kp COMMA    &kp DOT     &kp FSLH  &trans
                             &kp ESC      &lt 1 ENTER   &mt LGUI TAB    &kp BSPC  &lt 2 SPACE  &kp LGUI
            >;
        };

        num {
            bindings = <
&none  &kp LS(EXCL)   &kp LS(AT)    &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)    &kp MINUS     &kp N7  &kp N8  &kp N9  &kp EQUAL  &none
&none  &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)   &kp LS(LPAR)  &kp LS(RPAR)     &kp PLUS      &kp N4  &kp N5  &kp N6  &kp SQT    &none
&none  &kp GRAVE      &kp LBKT      &kp RBKT       &kp LS(LBRC)  &kp LS(RBRC)     &kp ASTERISK  &kp N1  &kp N2  &kp N3  &kp FSLH   &none
                                    &trans         &trans        &trans           &trans        &kp N0  &trans
            >;
        };

        sys {
            bindings = <
&none            &kp LG(N1)       &kp LG(N2)       &kp LG(N3)       &kp LG(N4)         &kp LG(N5)         &none     &none     &none   &bl BL_ON  &bt BT_SEL 1  &none
&none            &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &kp K_MUTE       &kp C_VOLUME_DOWN  &kp C_VOLUME_UP    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &bt BT_SEL 2  &bt BT_SEL 2
&rgb_ug RGB_EFF  &rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI    &rgb_ug RGB_TOG    &none     &none     &none   &none      &bt BT_SEL 3  &none
                                                   &none            &none              &none              &none     &none     &none
            >;
        };
    };
};
